# Maven
target/
.mvn/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
*.log

# OS
.DS_Store
Thumbs.db
