spring:
  application:
    name: application-front
  profiles:
    active: dev
  web:
    resources:
      static-locations: classpath:/static/
  mvc:
    throw-exception-if-no-handler-found: false

server:
  error:
    whitelabel:
      enabled: false