spring:
  application:
    name: application-web
  profiles:
    active: dev
  jpa:
    properties:
      hibernate.jdbc.time_zone: UTC
  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false

server:
  port: 8080
